 <div class="viewport">
    <!-- 头部 -->
    {{>home/header}}
    <!-- 主体 -->
    <div class="body">
        <!--注册 -->
        <div class="login">
            <div class="wrapper">
                <div class="contact">
                    <p>有什么问题可以点击下方联系</p>
                    <img src="./images/email.png" alt="">
                </div>
                <form id="registerForm">
                    <ul>
                        <li>
                            <label for="">用户名:</label>
                            <input type="text" name="name">
                        </li>
                        <li>
                            <label for="">邮　箱:</label>
                            <input type="text" name="email">
                        </li>
                        <li>
                            <label for="">密　码:</label>
                            <input type="password" name="pass">
                        </li>
                        <li>
                            <label for=""></label>
                            <input type="submit" value="注 册">
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    {{>home/footer}}
</div>

<script>
    // 当表单发生提交行为的时候
    $('#registerForm').on('submit',function () {
        // alert(1);
        var formdata = $(this).serializeToJson();
        // console.log(formdata);
        $.ajax({
            url:'/home/register',
            type:'post',
            data:formdata,
            success:function (response) {
                // console.log(response);
                if(response.success){
                    location.href = '/home/login';
                }else{
                    alert(response.message);
                    location.reload();
                }
            }

        });

        // 阻止表单的默认提交行为
        return false;
    });
</script>
